---
import Jumbotron from 'component:Jumbotron'
import Layout from 'layout:Layout'

---

<Layout>
  <Jumbotron title="Co nového?" image="soumrak_v_orlove.jpeg" position="bottom" />
  <main class="container">
    <div class="center">
      <p>
        Zatím vše při starém.
      <p>
    </div>
  </main>
</Layout>