---
import Jumbotron from '@components/Jumbotron.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout>
  <Jumbotron height="30rem" title="V Orlové svítá na lepší časy" image="soumrak_v_orlove.jpg" position="bottom" />
  <main class="container">
    <div class="center">
      <h2>Nejbližší akce:</h2>
      <div class="next-event">
        Načítám...
      </div>
      <p>
        Další akce můžete najít v našem <a href="/kalendar">kalendáři</a>.
      </p>
    </div>
  </main>
</Layout>

<script>
  import { getEvents, formatEvent } from '@utils'
  const events = await getEvents();
  (document.querySelector('.next-event') as HTMLElement).innerHTML = events[0] ? `<div class="events">${formatEvent(events[0])}${events[1] ? formatEvent(events[1]) : ''}</div>` : 'Bohužel aktuálně neplánujeme žádnou akci.'

</script>

<style is:global>
  .events, .old-events {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
.event {
  text-align: left;
  padding: 1rem;
  background: #f4ae00;
  max-width: 40rem;
  margin: auto;
}
.event__title { margin: 0; }
.event__date, .event__place { font-weight: 500; }
.event__description { margin-top: 1rem; font-size: 1.2rem; }
</style>