---
import Layout from 'component:Layout'
import Logo from 'component:Logo'
---

<Layout>
	<div class="center">
		<Logo width="300px"/>
	</div>
	<p class="center">
		<img src="/public/construction.gif" /> <br/>
		Stránky jsou prozatím ve výstavbě, děkujeme za pochopení
	</p>
</Layout>