---
import Jumbotron from '@components/Jumbotron.astro'
import Layout from '@layouts/Layout.astro'

---

<Layout>
  <Jumbotron title="Naši kandidáti" image="soumrak_v_orlove.jpg" position="bottom" />
  <main class="container">
     <p>Seznam pro vás připravujeme.</p>

  </main>
</Layout>

<style>

  p { font-size: 1.4rem; }

</style>
