---
import Jumbotron from 'component:Jumbotron'
import Layout from 'layout:Layout'

---

<Layout>
  <Jumbotron title="Kde nás najdete?" image="soumrak_v_orlove.jpg" position="bottom" />
  <main class="container">
      <p>
        Rádi se s vámi potkáme na jakékoliv akci, kterou pořádáme nebo které se účastníme. Všechny tyto akce najdete v našem <a href="/kalendar">Kalendáři akcí.</a>
      </p>
      <p>
        Napsat nám můžete na naše profily na <a href="https://www.facebook.com/sousediorlova">Facebooku</a> či <a href="https://www.instagram.com/nejlepsimesto">Instagramu</a> anebo na e-mailovou adresu <a href="mailto:orlova@sousedi.net">orlova@sousedi.net</a>.
      </p>
  </main>
</Layout>

<style>
  p { font-size: 1.4rem; }
</style>
