---
import Jumbotron from '@components/Jumbotron.astro'
import Layout from '@layouts/Layout.astro'

---

<Layout>
  <Jumbotron title="Manifest Sousedů" image="soumrak_v_orlove.jpg" position="bottom" />
  <main class="container">
      <p>
      Jsme Sousedi.
      Ne proto, že bydlíme ve stejné ulici.
      Ne proto, že máme stejné názory.
      Ne proto, že patříme ke stejné víře, národu nebo kultuře.
      Jsme sousedi proto, že sdílíme společný prostor a společný osud.
      Jsme sousedy v našem městě.
      Jsme sousedy v naší zemi.
      Jsme sousedy na této planetě.
      A pokud jednou lidstvo překročí hranice Země, budeme sousedy i mezi hvězdami.
      </p>
      <p>
      Věříme, že základem dobré společnosti není ideologie, ale vzájemná úcta.
      Respektujeme právo každého člověka hledat vlastní cestu.
      Respektujeme věřící i ateisty.
      Respektujeme tradice i nové myšlenky.
      Respektujeme svobodu jednotlivce, pokud nepopírá důstojnost druhých.
      Naše hnutí nestojí na jednom náboženství, filozofii ani politickém směru.
      </p>
      <p>
      Inspiraci nacházíme všude tam, kde lidé objevili jednoduchou pravdu:
      „Co sám nechceš, nečiň druhému.“
      Tuto zásadu lze nalézt v mnoha kulturách, náboženstvích i filozofických systémech. Učil ji Ježíš, objevuje se v buddhismu, judaismu, islámu i v etických úvahách evropských filozofů.
      Nepovažujeme ji za majetek jediné tradice.
      Považujeme ji za společné dědictví lidstva.
      Chceme budovat společnost, ve které:
      </p>
      <ul class="🤝">
      <li>lidé spolu mluví dříve, než se začnou nenávidět,</li>
      <li>síla slouží ochraně, nikoliv ovládání,</li>
      <li>odlišnost není důvodem k nepřátelství,</li>
      <li>odpovědnost je stejně důležitá jako svoboda,</li>
      <li>politika je službou, nikoliv cestou k moci.</li>
      </ul>
      </p>
      <p>
      Věříme, že změna světa nezačíná ve vládách ani v ideologiích.
      Začíná mezi sousedy.
      Začíná v tom, jak se chováme jeden k druhému každý den.
      Proto jsme Sousedi.
      </p>

  </main>
</Layout>

<style>
  p, ul { font-size: 1.4rem; }
  .🤝 {
    list-style: none;
    padding: 0;
    margin-left: 1rem;

    li {
      padding-left: 1rem;
      text-indent: -0.7rem;
    }

    li::before {
      content: "🤝 ";
    }
  }
</style>
