---
import Jumbotron from 'component:Jumbotron'
import Layout from 'layout:Layout'

---

<Layout>
  <Jumbotron title="Kdo jsme?" image="soumrak_v_orlove.jpg" position="bottom" />
  <main class="container">
      <p>
        Jsme neform치ln칤 parta obyvatel Orlov칠 a okol칤, kter치 se rozhodla p콏ilo쬴t ruku k d칤lu a zlep코it 쬴vot v na코em m캩st캩 jak jeho obyvatel콢m, tak n치v코t캩vn칤k콢m, a t칤m tak i vylep코it na코i reputaci. Na코e spole캜n칠 z치jmy jsou:
      </p>
      <ul>
        <li>Kultivace ve콏ejn칠ho prostoru 游끹</li>
        <li>Zlep코ov치n칤 kvality 쬴vota 游꺔</li>
        <li>Rozvoj demokratick칠 spole캜nosti 游뱋</li>
      </ul>
      <p>Zaujala v치s na코e 캜innost a cht캩li byste se p콏idat? Sledovat n치s m콢쬰te na <a href="https://www.facebook.com/sousediorlova">Facebooku</a> 캜i <a href="https://www.instagram.com/nejlepsimesto">Instagramu</a>, v <a href="/kalendar">kalend치콏i</a> najdete v코echny na코e pl치novan칠 akce anebo n치m m콢쬰te napsat email na <a href="mailto:orlova@sousedi.net">orlova@sousedi.net</a>.</p>
  </main>
</Layout>

<style>
  p, ul { font-size: 1.4rem; }
</style>
