---
import Jumbotron from '@components/Jumbotron.astro'
import Layout from '@layouts/Layout.astro'

---

<Layout>
  <Jumbotron title="Turnaj ve WORMS 🥳💣💥 " image="WWP_screenshot.png" position="center 12%" />
  <div class="submenu">
    <a href="#uvod">Úvod</a> - <a href="#registrace">Registrace</a> - <a href="#kontakt">Kontakt</a> - <a href="#prihlaseni">Seznam přihlášených</a>
  </div>
  <main class="container">
      <div class="anchor" id="uvod"></div>
      <p>
        Po loňském úspěchu uspořádáme druhý ročník orlovského turnaje ve Worms a to konkrétně letos ve Worms World Party (remastered edition). Přijďte si otestovat své schopnosti v této hře s ostatními v rámci sousedského turnaje v námi oblíbeném klubu Futra!
      </p>
      <p>
        Turnaj bude probíhat <b>v sobotu 11. října 2025 od 16:00</b> v prostorách klubu Futra (Masarykova 1000, Orlová).
      </p>
      <p>
        Pro účast nepotřebujete hru, počítač, ani být online. Turnaj proběhne klasickým oldschool offline hotseat způsobem, tj. hráči se budou střídat u jednoho stroje napojeného na velkoplošný projektor, kde bude možno sledovat průběh hry, a pro ovládání bude k dispozici klávesnice. Systém turnaje bude upřesněn dle počtu přihlášených.
      </p>
      <p style="text-align: center; font-weight: bold; font-size: 150%;">
        Vyplňte formulář:
      </p>

      <div class="anchor" id="registrace"></div>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScgBcYq6jLQTIYLGZXDrqL3vImX9kVINqA4ZB0F7ySAYtElJg/viewform?embedded=true" height="520px" width="100%" frameborder="0" marginheight="0" marginwidth="0">Načítání…</iframe>
      <p>Registraci dokočíte zasláním startovného 50,- Kč na účet 1126400071/3030 nebo jeho zaplacením na místě. <b>Prvních 10 účastníků s registrací dokončenou online obdrží na baru welcome drink! 🍸</b></p>
      <img src="/img/qrworms.png" alt="QR kód pro platbu startovného" width="200" style="display: block; margin: auto;"/>

      <div class="anchor" id="kontakt"></div>
      <p>Událost najdete taky na <a href="https://www.facebook.com/events/1099369098358475/">Facebooku</a>. V případě jakýchkoliv dotazů nás neváhejte kontaktovat na e-mailu orlova@sousedi.net nebo osobně našeho koordinátora Jaroslava Kameňa na tel. 608 552 333.</p>

      <div class="anchor" id="prihlaseni"></div>
      <p>Seznam úspěšné zaregistrovaných týmů je průběžně zveřejňován zde:</p>
      <ol>
        <li>Piráti z Karybníku</li>
        <li>Rychlé šípy</li>
        <li>Kečkeši</li>
        <li>Sauna Kommando</li>
        <li>Log Horizon</li>
        <li> ... ? </li>
      </ol>
  </main>
</Layout>

<style>
  p, ul, ol { font-size: 1.4rem; }
  .submenu {
    text-align: center;
    position: sticky;
    top: 0;
    padding: 8px;
    width: 100%;
    background: white;
    box-sizing: border-box;
  }
  .submenu:stuck {
    box-shadow: 0 0 10px black;
  }
  .anchor {position: relative; top: -20px;}
  html { scroll-behavior: smooth; }
</style>
