---
import Jumbotron from '@components/Jumbotron.astro'
import Layout from '@layouts/Layout.astro'

type Post = {
  file: string
  rawContent: () => string
  Content: any
  frontmatter: any
}

export async function getStaticPaths() {
    let posts: Post[] = await Astro.glob('../../data/posts/*/*.md')
    return (posts as Post[]).map(p => ({
      params: { slug: p.file.split('/')?.pop()?.split('.').shift() },
      props: { post: p },
    }));
  }

const { Content, frontmatter } = Astro.props.post;
const { title, image, publishDate } = frontmatter;

---

<Layout>

    <Jumbotron title={title} subtitle={publishDate} image={image || 'nad_rybniky.jpg'} />
    <div class="container">
    <article class="content">
      <Content />
    </article>
  </div>
</Layout>

<style is:global>
article {
  font-size: 1.4rem;
  p {max-width: 100%;}
  img {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 1rem auto;
  }
}
</style>