---
import Jumbotron from '@components/Jumbotron.astro'
import Layout from '@layouts/Layout.astro'


let allPosts = await Astro.glob('../../data/posts/*/*.md')
const parseDate = (date) => date.split('.').map((d) => parseInt(d))
const compareDates = (d1, d2) => d2[2] - d1[2] || d2[1] - d1[1] || d2[0] - d1[0]
allPosts = allPosts.sort((a, b) => compareDates(parseDate(a.frontmatter.publishDate), parseDate(b.frontmatter.publishDate)))
---

<Layout>
  <Jumbotron title="Co nového?" image="soumrak_v_orlove.jpg" position="bottom" />
  <main class="container">
    <div class="posts">
      {allPosts.length ?
        allPosts.map((post) => {
          if (!post) return null
          const slug = post.file.split('/')?.pop()?.split('.').shift()
          const href = `/clanky/${slug || ''}`;
          return (
            <a class="post" href={href}>
              <div class="post__image" style={{backgroundImage: `url('/img/${post.frontmatter.image || 'nad_rybniky.jpg'}') `}} />
              <h2 class="post__title">{post.frontmatter.title}</h2>
              <span class="post__date">{post.frontmatter.publishDate}</span>
              <p class="post__description">{post.frontmatter.description}</p>
            </a>
          )
        }) : (
          <p>
            Zatím vše při starém.
          </p>
        )
      }
    </div>
  </main>
</Layout>

<style>
  .posts {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .post {
    flex: 1 0 calc(33.33% - 0.667rem);
    max-width: calc(33.33% - 0.667rem);
    color: black;
    text-decoration: none;
    background: #f4ae00;
    /* font-size: 1rem; */
    padding: 1rem;
    box-sizing: border-box;

    transition: all 0.2s ease;
    &:hover {
      transform: scale(1.07);
    }
    @media (max-width: 1000px) {
      flex: 1 0 calc(50% - 0.5rem);
      max-width: calc(50% - 0.5rem);
    }
    @media (max-width: 600px) {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }
  .post__title {
    margin: 0;
    /* font-size: 1.2rem; */
    font-weight: 500;
  }
  .post__image {
    padding-top: 12rem;
    background-position: center;
    background-size: cover;
    margin: -1rem;
    margin-bottom: 1rem;
    @media (max-width: 600px) {
      padding-top: 16rem;
    }
  }
  .post__description {
    font-size: 1.2rem;
  }
</style>
