<footer>
  <div class="container">
    <p class="footer_note">
    „Nemusíte souhlasit se všemi našimi názory. Stačí, když věříte, že lidé by se k sobě měli chovat jako dobří sousedé.“
    </p>
    <a href="/kontakt" class="join-button">👉️ Připoj se 👈️</a>
  </div>
  <div class="container footer_links">
    <a href="https://www.facebook.com/sousediorlova">Facebook</a>
    &bullet;
    <a href="https://www.instagram.com/nejlepsimesto">Instagram</a>
    &bullet;
    <a href="/kalendar">Kalendář akcí</a>
  </div>
</footer>

<style>
  footer {
    background: linear-gradient(to right, #cf7bcc, #2c3884, #282761);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-top: 0.5rem solid black;
  }
  .footer_links a {
    text-decoration: none;
    color: white;
    height: 2.5rem;
  }
  .footer_links a:hover { text-decoration: underline; }

  .footer_note {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1rem;
  }

  .join-button {
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    transition: all 0.2s ease-out;
  }

  .join-button:hover {
    border-color: white;
    transform: scale(1.1);
  }
</style>
