<header>
  <div class="container">
    <div class="menu">
      <a class="menu__logo" href="/">
        Sousedi
      </a>
      <a href="#">Aktuality</a>
      <a href="#">O nás</a>
      <a href="#">Kontakt</a>
    </div>
  </div>
</header>

<style>
  header {
    background: #00336e;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .menu {
    font-size: 2rem;
    line-height: 2.5rem;
    display: flex;
    gap: 2rem;
  }

  a {
    text-decoration: none;
    color: white;
    height: 2.5rem;
    display: flex;
    font-size: 1.5rem;
  }

  a:not(.menu__logo):hover {
    text-decoration: underline;
  }

  .menu__logo {
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 3rem;
    background: transparent url('/img/znak-orlove.png') right center no-repeat;
    background-size: 2.5rem;
    font-size: 2rem;
  }

</style>