<header>
  <div class="container">
    <div class="menu">
      <a class="menu__logo" href="/">
        Sousedi 🤝
      </a>
      <a href="/kandidati">Kandidátka</a>
      <a href="/program">Program</a>
      <a href="/manifest">Manifest</a>
      <a href="/clanky">Příběhy</a>
      <!-- <a href="/kontakt">Kontakt</a> -->
    </div>
  </div>
</header>

<style>
  header {
    background: linear-gradient(to right, #cf7bcc, #2c3884, #282761);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.5rem solid black;
    width: 100%;
    overflow-x: scroll;
  }

  .menu {
    font-size: 2rem;
    line-height: 2.5rem;
    display: flex;
    gap: 2rem;
  }

  a {
    text-decoration: none;
    color: white;
    height: 2.5rem;
    display: flex;
    font-size: 1.5rem;
  }

  a:not(.menu__logo):hover {
    text-decoration: underline;
  }

  .menu__logo {
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 2rem;
  }

</style>